# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Some of the popular languages that Data Scientists use.
* Some of the commonly used libraries used by Data Scientists.
* Data science tools.

Some of the popular languages that Data Scientists use are:
1. java 
2. C
3. R
4. python

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. tensorflow

|Data Science Tools |
|--------------|
|anaconda|
|Rstudio|
|jupyter notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
min=200;
hr=min/60;
print(hr);

3.3333333333333335

## Author:
Sri charan